-
  var scrum = [
    {
      "title" : "scrum focus",
      "para" : "making sure there are no risks more for smaller projects involving iterative process"
    },
    {
      "title" : "scrum risk?",
      "para" : "risk management is not mainly associated with scrum"
    },
    {
      "title" : "scrum usecase",
      "para" : "is used for iteration with less risk and spiral having a lot of risks"
    },
    {
      "title" : "scrum backlog",
      "para" : "has a backlog and review at the end of the sprint."
    },
    {
      "title" : "scrum team",
      "para" : "is responsible for delivering results on time with hgh quality"
    },
    {
      "title" : "scrum master",
      "para" : "keeps the team focused on the goal. | ensures the team is following agile princeples"
    },
    {
      "title" : "scrum planning",
      "para" : "just making sure that planning is essential so that it doesn't cause a problem because you're prepared."
    },
    {
      "title" : "scrum values",
      "para" : "courage, focus, commitment, respect and openness"
    },
    {
      "title" : "not a feature of scrum",
      "para" : "pair programming not undertaken in scrum"
    },
    {
      "title" : "scrum, burn down chart",
      "para" : "chart of a backlog work to finish, it shows progress, over time a plot line will indicate work remaining. |this is then used in sprint backlogs to make sure tasks are finished in the remaining time"
    },
    {
      "title" : "scrum, burn up chart",
      "para" : "Chart that shows all works that have been completed, it is all assessed in multiple ways such as user story points or task hours."
    },
    {
      "title" : "daily scrum",
      "para" : "a meeting conducting on planning each task and reviewing what."
    },
    {
      "title" : "scrum, emergence",
      "para" : "process of new context or facts that provide an understanding of any visible information."
    },
    {
      "title" : "scrum board",
      "para" : "is a visualisation of all the tasks and information provided."
    },
  ]
