-
  var spiral = [
    {
      "title" : "spiral",
      "para" : "project being large but risky, risk at early stage, many constraints"
    },
    {
      "title" : "spiral method",
      "para" : "takes upon risks and is mainly used in long projects, has a review at the end of a circle"
    },
    
  ]
