-
  var sprint = [
    {
      "title" : "sprint planning meeting",
      "para" : "everyone is involved" 
    },
    {
      "title" : "sprint review",
      "para" : "scrum master is not always needed. | Making sure the customer is there and involved with the process" 
    },
  ]
