doctype html
include ./pug_includes/mixins.pug
include ./pug_includes/notes.pug
html
  head
    title My App
    //script(src="../app/jquery-3.6.0.js")
    include ./pug_includes/jquery.pug
    //link(rel="stylesheet" href="style.css")
    include ./pug_includes/css.pug
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body

    .holder
      .input.margin
        input#inVal(autocomplete="off" placeholder="looking for something")
      .cards.margin
        each i in cardList 
          +cards(i)

    script.
      
         
      for(let j = 0; j < $(".card").length; j++ ){
        
        var splittingLine = document.querySelectorAll(".card")[j].querySelector("p").innerText.split("|")

        for(let i = 0; i < splittingLine.length; i++){
          splittingLine[i] = splittingLine[i] + "<br/>"
        }

        splittingLine.join("")

        document.querySelectorAll(".card")[j].querySelector("p").innerHTML = splittingLine.join("")



      }
     
       
      $(".card").on('click', function(){


        if($(this).find("p").height() > 130){
          var height = $(this).find("p").height(),
              addOn = height + 30
          $(this).css('height', addOn)

          $(this).toggleClass('active')
          
        }

        if(!$(this).hasClass('active')){
          
          $(this).removeAttr('style')
        }

      })

      
      $("#inVal").on('input', function() {
        //input value
        var val = $(this).val()
        
        //each card function
        $(".card").each(function(){
           
          //if this card has h3 or p that contains the val
          if($(this).find("h3, p").is(":contains("+val+")")){
            //true: show the card
            $(this).css("display", "block")
          }else{
            //false: remove the card
            $(this).css("display", "none")
          }
        })
        
      });

      //if input has nothing
      if( $("#inVal").val().length == 0){
        //true: show all cards
        $(".card").css("display", "block")
      }
   
